<nav class="navbar navbar-expand-md navbar-dark bg-secondary p-2 font-weight-bold ">
    <div (click)="clickable(1)">
      <a routerLink="/home" class="nav-link text-white" routerLinkActive="active" [ngClass]="{'item-style': globalService.navId === 1}">Accueil</a>
    </div>
    <div (click)="clickable(2)">
      <a routerLink="/person-list" class="nav-link text-white" routerLinkActive="active" [ngClass]="{'item-style': globalService.navId === 2}">Consulter les mails</a>
    </div>
    <div (click)="clickable(3)">
      <a routerLink="/mail-detail" class="nav-link text-white" routerLinkActive="active" [ngClass]="{'item-style': globalService.navId === 3}">Personnes physiques </a>
    </div>
    <div (click)="clickable(4)">
      <a routerLink="/person-moral" class="nav-link text-white" routerLinkActive="active" [ngClass]="{'item-style': globalService.navId === 4}">Personnes morales</a>
    </div>
</nav>
<div class="text-center mb-4 mt-3">
  <h2 style="text-align: center;">Messageries électroniques de la liste des présidents</h2>
</div>


<div class="container-fluid">
  <router-outlet>

  </router-outlet>
</div>


