.nav-link{
  cursor: pointer;
}


a:hover{
  background-color: #36b9cc;
  color: #f8f9fc;
  font-weight: bold;
}

.item-style{
  background-color: darkgray;
  color: #f8f9fc;
  font-weight: bold;
  border-radius: 15px;
}
